/* font-family: 'Archivo Black'; */
/* font-family: 'Judson'; */

/* :root {
    --color-1: #e41b36;
    --color-2: #f8dc6c;
    --color-3: #701322;
    --color-4: #a15b75;
    --color-5: #c0d0d3;
    --color-6: #603540;
} */

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--color-5);
    min-height: 90vh
}


article {
    background-color: var(--color-4);
    color: white;
    font-family: 'Judson';
    margin: 20px;
    width: 45%;
    min-width: 600px;
    height: fit-content;
    min-height: 200px;
    border-radius: 10px;
    padding: 5px;
    transition: .7s;
    position: relative;
}

article:hover {
    box-shadow: 5px 5px 10px var(--color-3);
}

article h3 {
    font-family: 'Archivo Black';
    text-align: center;
    margin: 3px;
    text-shadow: 1px 1px 2px black;
}

article blockquote {
    font-style: italic;
    margin: 6px;

}

article small {
    display: block;
    text-align: right;
    padding: 5px;
    text-shadow: 1px 1px 2px black;

}

article p {
    padding: 12px;
    color: var(--color-5);
}

article p span {
    font-weight: 700;
    font-size: 18px;
    color: white;
}

article i {
    position: absolute;
    top: 3%;
    right: 3%;
    transition: .7s;
    font-size: 20px;
    cursor: pointer;
}

article i:hover {
    color: yellow;
    border-radius: yellow;
    font-size: 22px;
}

article i.fa-trash {
    position: absolute;
    top: 85%;
    color: var(--color-3);
}

article i.fa-trash:hover {
    transform: rotateZ(40deg);
}

.favorite {
    color: yellow;
}