/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Archivo+Black:regular);
/* font-family: 'Archivo Black'; */
@import url(https://fonts.googleapis.com/css?family=Judson:regular,italic,700);
/* font-family: 'Judson'; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-1: #e41b36;
    --color-2: #f8dc6c;
    --color-3: #701322;
    --color-4: #a15b75;
    --color-5: #c0d0d3;
    --color-6: #603540;
}